<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <form action="/specifications/specification-items/create" method="POST">
                <div class="card-header">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col small">
                            Record properties
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-3">
                             <label for="specification-title" class="form-label small">Specification</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" id="specification-title" 
                                name="specification-title" value="{{ specification.title }}" readonly />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                             <label for="title" class="form-label small">Title</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" id="title" name="title" />
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="/specifications" class="btn btn-sm btn-primary">
                        <i class="bi bi-arrow-left-square"></i> Cancel
                    </a>
                    <button type="submit" id="button-submit" class="btn btn-sm btn-primary" disabled>
                        <i class="bi bi-save2"></i> Save
                    </button>
                </div>
                <input type="hidden" name="specification_id" value="{{ specification.id }}" />
            </form>
        </div>
    </div>
</div>