{{#if vehicleStyles}} 
    <div class="row">
        <div class="col-3">
            <table class="table table-sm table-bordered">
                <tr>
                    <th class="text-end">ID</th>
                    <th>Title</th>
                    <th class="text-center">Activity</th>
                </tr>
            {{#each vehicleStyles}}
                {{#with this.dataValues}}
                <tr>
                    <td class="text-end">{{ id }}</td>
                    <td>{{ title }}</td>
                    <td class="text-center">
                        {{#if activity }}
                            <i class="bi bi-check-square"></i>
                        {{else}}
                            <span class="text-muted">
                                <i class="bi bi-square"></i>
                            </span>
                        {{/if}}
                    </td>
                </tr>
                {{/with}}
            {{/each}}
            </table>
        </div>
    </div>
{{/if }}

