<div class="row">
    <div class="col-md-3">
        <table class="table table-sm table-bordered">
        {{#each accounts }}
            <tr>
                <td>
                    <a href="/reports/accounts/{{ this.dataValues.id }}">{{ this.dataValues.title }}</a>
                </td>
            </tr>
        {{/each}}
        </table>
    </div>
</div>